<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="clock_scr.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <clock_scr.Properties.Settings>
            <setting name="offsetHM" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="watchSize" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="gradientBorder" serializeAs="String">
                <value>0.49</value>
            </setting>
            <setting name="timeFormat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="offsetTF" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="displayColor" serializeAs="String">
                <value>#FFFFFFFF</value>
            </setting>
            <setting name="backFrameColor" serializeAs="String">
                <value>#FF222222</value>
            </setting>
            <setting name="rotateAngel" serializeAs="String">
                <value>1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1</value>
            </setting>
            <setting name="checkBit" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="exitBit" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="dateIndication" serializeAs="String">
                <value>0</value>
            </setting>
        </clock_scr.Properties.Settings>
    </userSettings>
</configuration>